{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">JB's</h1>
    <h2 class="display-5">To-Do App</h2>
    <p class="lead">Just another to-do app!</p>
  </div>

  <div class="container">
      <h2>To-Do List</h2>
      <hr>
      <form action="" method="POST" class="form-example">
        <div class="form-group">
           <input type="text" name="title" class="form-control" ng-model="todoInput" size="40" placeholder="What do you need to do today?">
        </div>
        <input type="submit" value="Add" class="btn btn-success">
      </form>
      <table class="table">
        <ul class="list-group mb-4">
          <thead>
            <tr>
              <th scope="col">Task Lists</th>
              <th scope="col">Status</th>
              <th scope="col">Completed</th>
            </tr>
          {% for item in items %}
          </thead>
          <tbody>
            <tr>
                    <td><li class="list-group-item">{{item.title}}</td>
                    <td><select class="custom-select">
                      <option selected>Not Started</option>
                      <option value="1">In Progress</option>

                    </select>
                    <td><li class="list-group-item"><input type="checkbox" name="complete" />&nbsp;
                    </td>
                    <td><form id="remove_item_{{ item.id }}" action="/remove_item" method="POST">
                      <input type="hidden" name="remove_id" value="{{ item.id }}">
                      <a href="#" onclick="document.getElementById('remove_item_{{ item.id }}').submit()"><button ng-click="remove_item()" class="btn btn-danger" style="margin-top:10px">Remove</button></a>
                      </form></td>
            </tr>
          </li>
          {% endfor %}
              </ul>
          </tbody>        
    </div>
  </div>
{% endblock %}