{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">JB's</h1>
    <h2 class="display-5">To-Do App</h2>
    <p class="lead">Just another to-do app!</p>
  </div>

  <div class="container">
      <h2>To-Do List</h2>
      <hr>
      <form action="/new_item" method="POST" class="form">
        <div class="form-group">
           <input type="text" name="new_item_title" class="form-control" ng-model="todoInput" size="40" placeholder="What do you need to do today?">
        </div>
        <input type="submit" value="Add" class="btn btn-success">
      </form>
      <table class="table">
        <ul class="list-group mb-4">
          <thead>
            <tr>
              <th scope="col">Task Lists</th>
              {% if request.values.get('sort') == None %}
              <th  scope="col"><a href="/?sort=2" class="table">Status ↕ </a></th>
              {% elif request.values.get('sort') == '2' %}
              <th scope="col"><a href="/?sort=1" class="table">Status ↓</a></th>
              {% elif request.values.get('sort') == '1' %}
              <th scope="col"><a href="/?sort=2" class="table">Status ↑</a></th>
              {% endif %}
              </tr>
          {% for item in items %}
          </thead>
          <tbody>
            <tr>
                    <td><li class="list-group-item">{{item.name}}</td> 
                    <td><li class="list-group-item">{% for list in lists %}
                      {% if item.idList == list.id %}
                      {{list.name}}
                      {% endif %}
                    {% endfor %}
                    <td><form id="toggle_item_{{ item.id }}" action="/in_progress" method="POST">
                      <input type="hidden" name="item_id" value="{{ item.id }}">
                      <a onclick="document.getElementById('remove_item_{{ item.id }}').submit()"><button submit="remove_item()" class="btn btn-outline-primary btn-block" style="margin-top:5px">In Progress</button>
                      </form></td>
                    <td><form id="toggle_item_{{ item.id }}" action="/completed" method="POST">
                      <input type="hidden" name="item_id" value="{{ item.id }}">
                      <a onclick="document.getElementById('remove_item_{{ item.id }}').submit()"><button submit="remove_item()" class="btn btn-outline-success btn-block" style="margin-top:5px">Complete</button>
                      </form></td>
                    <td><form id="archive_item_{{ item.id }}" action="/archive_item" method="POST">
                      <input type="hidden" name="archive_id" value="{{ item.id }}">
                      <a onclick="document.getElementById('archive_item_{{ item.id }}').submit()"><button submit="remove_item()" class="btn btn-outline-danger btn-block" style="margin-top:5px">Archive</button>
                      </form></td>
                      </tr>
          </li>
          {% endfor %}
              </ul>
          </tbody>        
    </div>
  </div>
{% endblock %}